{% extends 'base.html' %} {% load static %}{% block hero %}


<div style="margin:auto;padding:5px;text-align:center;color:white" class="border"> {% if messages %} {% for m in messages %}{{m}}{% endfor %}{% endif %}</div>
<div class="text-white text-center border p-4 mx-auto mt-5" style="font-size: 30px;width:80%">{{course_name}} by
    <h6 style="font-size: 12px;">{{username}}</h6>
</div>
<div class="row bg-dark mt-5 text-white" style="display: flex;width:100%">

    <div id="video-list" class=" p-4 bg-dark" style="width:50%; height:500px;overflow-y:scroll">
        {% if lectures %}{% for l in lectures %}
        <div class="video w-full mb-5" style="display: flex; gap:15px;">
            <img src="{{ l.video_thumbnail.url}}" alt="" width="90px" class="rounded">

            <div style="width:70%;display:block;box-sizing:border-box" class=" rounded">
                <p style="font-size: 15px;" class="p-1 bg-green-50">{{l.title}}
                </p>
                <p style="font-size: 15px;" class="p-1 bg-green-50">{{l.video_url_id}}
                </p>
                <button class="bg-primary mt-5" style="width:100px;padding:2px;font-size:10px;height:30px">
                    Edit
                </button>

                <button class="bg-red mt-5" style="width:100px;padding:2px;font-size:10px;height:30px">
                <a href="{% url 'delete lecture' course_name l.id %}" >Delete</a> <button class="bg-white" style="width: 100px;">
                </a>
                </button>


            </div>


        </div>{% endfor %} {% endif %}



    </div>
    <div id="add-video" style=" width: 50%;" class="p-5">
        <form action=" " method="post" enctype="multipart/form-data ">
            {% csrf_token %}
            <div class="w-full px-4 bg-dark mb-2 " style="width: 100%; ">
                <label for=" " class="mb-[10px] block text-base font-medium text-dark dark:text-white ">
    Video Title
  </label>
                <input type="text " placeholder="eg.basics of html " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2
                    disabled:bg-gray-2 dark:border-dark-3 " style="width:100% " name="video_title" required />

            </div>
            <div class="w-full px-4 bg-dark mb-2 " style="width: 100%; ">
                <label for=" " class="mb-[10px] block text-base font-medium text-dark dark:text-white ">
    Video Thumbnail
  </label>
                <input type="file " placeholder="eg.basics of html " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2
                    disabled:bg-gray-2 dark:border-dark-3 " style="width:100% " name="video_thumbnail" required/>

            </div>
            <div class="w-full px-4 bg-dark mb-2 " style="width: 100%; ">
                <label for=" " class="mb-[10px] block text-base font-medium text-dark dark:text-white ">
    Video URL
  </label>
                <input type="text " placeholder="eg.www.youtube.com/vipulghadi/django/134rewnfk " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary
                    disabled:cursor-default disabled:border-gray-2 disabled:bg-gray-2 dark:border-dark-3 " style="width:100% " name="video_url" required />

            </div>
            <div class="w-full px-4 bg-dark mb-2 " style="width: 100%; ">
                <label for=" " class="mb-[10px] block text-base font-medium text-dark dark:text-white ">
    Video Preview
  </label>
                <input type="text " placeholder="eg.yes/no " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2
                    disabled:bg-gray-2 dark:border-dark-3 " style="width:100% " name="video_is_preview" />

            </div>
            <button class="inline-flex items-center justify-center rounded-md border border-primary px-7 py-3 text-center text-base font-medium text-primary hover:bg-blue-light-5 hover:text-body-color active:bg-blue-light-3 disabled:border-gray-3 disabled:bg-gray-3
                    disabled:text-dark-5 dark:hover:text-dark-3 mt-4 ">
            Save and Next
        </button>
        </form>

    </div>





</div>


</div>{% endblock %}