{% extends 'base.html' %} {% block hero %}
<div class="container-fluid bg-dark">
    <h1 class="text-center bg-dark text-white mt-5" style="font-size: 30px;">New Course</h1>
    <div class="course bg-dark flex mb-5">

        <div class="mx-auto mt-5 border p-5 rounded bg-dark" style="width:80%;">

            <form action="" method="post" class="mt-5">
                {% csrf_token %}
                <div class="w-full px-4 md:w-1/2 lg:w-1/3 mb-3" style="width: 100%;">
                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
            Course Name
          </label>
                    <input type="text" placeholder="eg. Django Developement" class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2 disabled:bg-gray-2 dark:border-dark-3"
                        style="width:100%" name="course_name" required />

                </div>
                <div class="w-full px-4 md:w-1/2 lg:w-1/3 mb-3" style="width: 100%;">
                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
            Course Slug 
          </label>
                    <input type="text" placeholder="eg. django-full-course" class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2 disabled:bg-gray-2 dark:border-dark-3"
                        style="width:100%" name="course_slug" required/>

                </div>
                <div class="w-full px-4 md:w-1/2 lg:w-1/3 mb-3" style="width: 100%;">
                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
            Course Thumbnail 
          </label>
                    <input type="file" placeholder="eg.5 hours " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2 disabled:bg-gray-2 dark:border-dark-3"
                        style="width:100%" name="course_thumbnail" required/>

                </div>
                <div class="w-full px-4 md:w-1/2 lg:w-1/3 mb-3" style="width: 100%;">
                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
            Course Descreption
          </label>
                    <textarea type="text" placeholder="eg. this coure is all about understanding concepts of django " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2 disabled:bg-gray-2 dark:border-dark-3"
                        style="width:100%" name="course_desc" required></textarea>

                </div>
                <div class="w-full px-4 md:w-1/2 lg:w-1/3 mb-3" style="width: 100%;">
                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
            Course Price
          </label>
                    <input type="number" placeholder="eg. 2999 " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2 disabled:bg-gray-2 dark:border-dark-3"
                        style="width:100%" name="course_price" required />

                </div>
                <div class="w-full px-4 md:w-1/2 lg:w-1/3 mb-3" style="width: 100%;">
                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
            Course Discount
          </label>
                    <input type="number" placeholder="eg.25% " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2 disabled:bg-gray-2 dark:border-dark-3"
                        style="width:100%" name="course_discount" required/>

                </div>
                <div class="w-full px-4 md:w-1/2 lg:w-1/3 mb-3" style="width: 100%;">
                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
            Course Status
          </label>
                    <input type="number" placeholder="eg.1 " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2 disabled:bg-gray-2 dark:border-dark-3"
                        style="width:100%" name="course_status" required />

                </div>
                <div class="w-full px-4 md:w-1/2 lg:w-1/3 mb-3" style="width: 100%;">
                    <label for="" class="mb-[10px] block text-base font-medium text-dark dark:text-white">
            Course Length (in hrs)
          </label>
                    <input type="number" placeholder="eg.5 hours " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2 disabled:bg-gray-2 dark:border-dark-3"
                        style="width:100%" name="course_length" required />

                </div>




        </div>
    </div>
    <div class="tags mx-auto mt-5 border p-5 rounded bg-dark text-white" style="width:80%;">


        <h1 class="mb-3">Add Tags...</h1>
        <div class="w-full px-4 md:w-1/2 lg:w-1/3 mb-3 mt-4" style="width: 100%;">

            <textarea type="text" placeholder="eg.python,django,ml,data science " class="w-full rounded-md border border-stroke bg-transparent px-5 py-[10px] text-dark-6 outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:border-gray-2 disabled:bg-gray-2 dark:border-dark-3"
                style="width:100%" name="tags" required></textarea>

        </div>
        <button class="inline-flex items-center justify-center rounded-md border border-primary px-7 py-3 text-center text-base font-medium hover:bg-blue-light-5 hover:text-body-color active:bg-blue-light-3 disabled:border-gray-3 disabled:bg-gray-3 disabled:text-dark-5 dark:hover:text-dark-3 bg-primary text-white ">
            Save and Add Videos
       </button></div>

    </form>
</div>

</div>
{% endblock %}